/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1470px) {

    .text-item h2 {
        font-size: 65px;
        line-height: 75px;
        letter-spacing: -6px;
        margin-bottom: 24px;
    }

    .Who-I-am p {
        padding: 0 2px 10px 2px;

    }

    .select {
        margin-top: 0;
        height: 100vh;
    }
    .projects-items {
        height: 70%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    h1 {
        font-size: 150px;
    }

    p {
        font-size: 30px;
    }

    .proj-item li {
        display: none;
    }

    .header-menu {
        height: 50vh;
    }

    .text-item h2 {
        font-size: 52px;
        line-height: 55px;
        letter-spacing: -3px;
    }

    .picture {
        height: 490px;
    }

    .picture-who {
        height: 500px;
    }

    .text-wrapper-who {
        padding: 0 5%;
    }

    .Who-I-am h4 {
        margin-bottom: 0;
    }

    .text-item h4 {
        margin: 0;
        font-size: 16px;
        line-height: 20px
    }

    .Who-I-am p {
        font-size: 10px;
    }

    p {
        padding: 5px;
    }

    .menu-link {
        font-size: 14px;
    }

    .grid-container>div {
        min-width: 30vw;
        min-height: 385px;
    }

    .text-white {
        padding-top: 3%;
    }

    .text-white h2 {
        font-size: 70px;
    }

    .text-white h4 {
        font-size: 16px;
        padding-bottom: 0;
    }

    .projects-items {
        height: 70%;
    }

    .select {
        margin-top: 0;
        height: 60vh;
    }

    .bg-opacity {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #14171d;
        opacity: 0.8;
        z-index: 2;
    }

    .Keep-tranmau {
        width:80%;
        height: 40vh;
        margin-bottom: 1%;
    }

    .button-transparent {
        height: 50px;
    }

    .contact>h3 {
        font-size: 22px;
        line-height: 70px;
    }

    .contact>p {
        font-size: 14px;
        line-height: 20px;
    }

    .sotials {
        height: 18vh;
        margin: 3% 0;
    }

    .team-cesis p {
        line-height: 24px;
    }

    .btn-black {
        width: 40%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    h1 {
        font-size: 120px;
        line-height: 25px;
        letter-spacing: -9px;
    }

    p {
        font-size: 25px;
    }

    .logotype {
        height: 35px;
        padding: 33px;
    }

    .text-item h2 {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
        margin-bottom: 16px;
    }

    .text-item h4 {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        margin-bottom: 11px;
    }

    .text-wrapper {
        padding: 0 5%;
    }

    .button-transparent {
        font-size: 12px;
    }

    .picture {
        height: 420px;
        width: 80%;
    }

    .Who-I-am p {
        font-size: 9px;
        line-height: 13px;
    }

    .picture-who {
        height: 440px;
        width: 75%;
    }


    .menu-link {
        font-size: 11px;
    }

    .main-menu {
        height: 100px;
    }


    .grid-container {
        grid-gap: 7px;
    }

    .subtitle {
        font-size: 15px;
        color: #3d261f;
        padding: 0 0 0 10px;
    }

    .title {
        color: #3d261f;
        font-size: 21px;
        padding: 0 0 23px 10px;
        line-height: 16px;
    }

    .grid-container>div {
        min-width: 25vw;
        min-height: 25vh;
        background-size: cover;
        background-position: top;
        display: flex;
        align-items: flex-end;
    }

    .grid-item-1 {
        background: url(../img/photo.png);
        grid-area: 1/1/3/4;
    }

    .grid-item-2 {
        background: url(../img/cofee.png);
        grid-area: 1/4/2/5;
    }

    .grid-item-3 {
        background: url(../img/time.png);
        grid-area: 2/4/3/5;
    }

    .btn-black {
        width: 100%;
    }

    .text-white h2 {
        font-size: 60px;
        line-height: 80px;
    }

    .text-white h4 {
        font-size: 13px;
        line-height: 25px;
    }

    .proj-item h3 {
        font-size: 22px;
        line-height: 80px;
    }

    .text-wrapper-keep {
        padding: 0px 1% 0 0;
    }

    .text-wrapper-keep>.purpur-text {
        font-size: 18px;
    }

    .Keep-tranmau {
        width: 90%;
        height: 50vh;
    }

    .wrapper-form {
        padding-left: 5%;
    }

    .contacts {
        width: 70%;
    }

    .contact>h3 {
        font-size: 18px;
        line-height: 55px;
    }

    .contact>p {
        font-size: 12px;
    }

    .sotials {
        height: 10vh;
        margin: 2% 0;
    }

    .team-cesis h5 {
        font-size: 20px;
        padding-left: 20px;
    }

    .team-cesis p {
        font-size: 10px;
        line-height: 15px;
    }

    .subscribe p {
        padding: 0 0 40px 0;
        font-size: 15px;
    }

    .picture {
        height: 300px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .text-item h2 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -2px;
        margin-bottom: 7px;
    }


    h1 {
        font-size: 85px;
        line-height: 3px;
        letter-spacing: -8px;

    }

    .picture-who {
        height: 400px;
        width: 79%;
    }

    .Who-I-am p {
        font-size: 8px;
        line-height: 9px;
    }

    .main-menu {
        width: 80%;
    }

    .subtitle {
        font-size: 13px;
    }

    .title {
        color: #3d261f;
        font-size: 18px;
    }

    .button-transparent {
    height: 35px;
}

    .btn-black {
        width: 70%;
    }

    .select {
        height: 55vh;
    }

    .projects-items {
        height: 65%;
    }
    .projects-items img {
        height: 70px;
    }

    .proj-item h3 {
        font-size: 15px;
        line-height: 55px;
    }

    .proj-item li {
        font-size: 11px;
        line-height: 26px;
    }

    .Keep-tranmau {
        height: 46vh;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    h1 {
        font-size: 45px;
        letter-spacing: -4px;
    }

    p {
        font-size: 17px;
    }

    .header-menu {
        height: 40vh;
        background-image: none;
        background-color: #43105b;
    }

    .logotype {
        height: 23px;
        padding: 8px;
    }

    .logmenu {
        padding: 9px;
        height: 14px;
    }

    .picture {
        display: none;
    }

    .text-item {
        width: 100%;
    }

    .item-color {
        background-color: #ede65e
    }

    .picture-who {
        display: none;
    }

    .btn-black {
        width: 45%;
        font-size: 10px;
        margin-bottom: 8px;
    }

    .menu-link {
        font-size: 8px;
        font-weight: bolder;
    }

    .main-menu {
        height: 60px;
    }

    .grid-container>div {
        background-position: bottom;

    }

    .grid-item-1 {
        grid-area: 1/1/3/3;
    }

    .grid-item-2 {
        grid-area: 1/3/2/5;
    }

    .grid-item-3 {
        grid-area: 2/3/3/5;
    }

    .btn-alon {
        padding: 20px 0 10px 0;
        width: 70%;
    }

    .select {
        height: 50vh;
    }

    .text-white h2 {
        font-size: 40px;
        line-height: 70px;
    }

    .text-white h4 {
        font-size: 10px;
        line-height: 17px;
    }

    .projects-items img {
        height: 50px;
    }

    .proj-item h3 {
        font-size: 11px;
        line-height: 62px;
    }

    .proj-item li {
        font-size: 9px;
        line-height: 22px;
    }

    .projects-items {
        height: 60%;
    }

    .button-transparent {
    font-size: 8px;
}


    .Keep-tranmau {
        height: 29vh;
    }

    .keep-form {
        display: none;
    }

    .contacts {
        width: 95%;
    }

    .contact>h3 {
        font-size: 17px;
        line-height: 38px;
    }

    .contact>p {
        font-size: 8px;
        line-height: 13px;
    }

    .sotials {
        height: 8vh;
        font-size: 22px;
    }

    .cesis-creative {
        width: 95%;
        flex-direction: column;
        text-align: center;
    }

    .footer-img img {
        display: none;
    }

    .footer-img {
        padding-top: 10px;
        display: block;
    }

    .team-cesis h5 {
        padding-left: 0;
    }

    .team-cesis p {
        font-size: 9px;
        line-height: 15px;
    }

    .subscribe {
        width: 95%;
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .subscribe p {
        padding: 0 0 20px 0;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    h1 {
        font-size: 40px;
        letter-spacing: -2px;
    }

    p {
        font-size: 15px;
        padding: 0px;
    }

    .header-menu {
        height: 55vh;
        width: 100vw;
    }
    .lets-make {
    padding-top: 7%;
}

    .button-transparent {
        width: 150px;
        height: 35px;
        font-size: 9px;
    }

    .text-wrapper {
        text-align: center;
    }

    .text-wrapper-who {
        text-align: center;
    }

    .main-menu {
        display: none;
    }


    .grid-container {
        display: none;
    }

    .btn-alon {
        display: none;
    }

    .select {
        background: none;
        background-color: #000;
        height: 100vh;
    }

    .text-white h2 {
        font-size: 30px;
        line-height: 56px;
        letter-spacing: -2px;
    }

    .text-white h4 {
        font-size: 12px;
        line-height: 19px;
    }

    .projects-items img {
        display: none;
    }

    .projects-items {
        display: flex;
        flex-wrap: wrap;
        height: 63%;
    }

    .proj-item h3 {
        font-size: 20px;
        line-height: 45px;
    }

    .proj-item li {
        font-size: 15px;
        line-height: 21px;
    }

    .Keep-tranmau {
        height: 43vh;
    }

    .text-wrapper-keep {
        text-align: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .team-cesis p {
        padding: 12px 0 1px 0;
        font-size: 10px;
        line-height: 14px;
    }



}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}