h1 {
    font-family: Poppins;
    font-size: 200px;
    font-weight: bolder;
    line-height: 50px;
    letter-spacing: -12px;
    padding: 45px;
}

p {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    padding: 20px;
}

.header-menu {
    background-image: url(../img/Background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.logotype {
    padding: 40px;
    height: 48px;
}

.logmenu {
    padding: 40px;
    height: 16px;
}

.text-centre {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.button-transparent {
    width: 190px;
    height: 64px;
    background: none;
    border-radius: 32px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
}

.arrow-down {
    background: none;
    border: none;
    font-size: 20px;
    outline: none;
}

.arrow-down a {
    text-decoration: none;
    color: #fff;
}

.arrow-fas {
    display: flex;
    font-size: 48px;
}

.lets-make,
.Who-I-am {
    padding-top: 5%;
    display: flex;
}

.text-item {
    width: 45%;
    text-align: left;
    margin-top: -15px;
}

.text-item h2 {
    font-family: Poppins;
    font-size: 80px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: -4px;
    margin-bottom: 37px;
    color: #2a2d2e;
}

.text-item h4 {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.text-wrapper {
    padding: 0 10%;
}

.btn-black {
    width: 35%;
    color: #000;
    border: 1px solid #000;
}

.picture {
    background: url(../img/creative.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 670px;
    width: 75%;
}

.Who-I-am p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 0;
    color: #72787a;
}

.picture-who {
    background: url(../img/video.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 670px;
    width: 75%;
}

.text-wrapper-who {
    padding: 0 10%;
}

.Who-I-am h2 {
    margin-bottom: 15px;
    color: #2a2d2e;
}

.Who-I-am h4 {
    margin-bottom: 15px;
}

.main-menu {
    width: 50%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.menu-link {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #818586;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    text-decoration: none;
    letter-spacing: -0.9px;
}

.menu-link a {
    text-decoration: none;
    color: #818586;
}

.menu-link li>a:hover {
	color: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px;
}

.grid-container>div {
    min-width: 385px;
    min-height: 385px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.grid-item-1 {
    background: url(../img/photo.png);
    grid-area: 1/1/3/3;
}

.subtitle {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bolder;
    padding: 0 0 0 40px;
}

.title {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: bolder;
    padding: 0 0 30px 40px;
    line-height: 20px;
}

.grid-item-2 {
    background: url(../img/cofee.png);
    grid-area: 1/3/2/5;
}

.grid-item-3 {
    background: url(../img/time.png);
    grid-area: 2/3/3/5;
}

.grid-item-4 {
    background: url(../img/girl.png);
    grid-area: 3/1/5/2;
}

.grid-item-5 {
    background: url(../img/bag.png);
    grid-area: 3/2/5/4;
}

.grid-item-6 {
    background: url(../img/wall.png);
    grid-area: 3/4/4/5;
}

.grid-item-7 {
    background: url(../img/boy.png);
    grid-area: 4/4/5/5;
}

.grid-item-8 {
    background: url(../img/%.png);
    grid-area: 5/1/7/3;
}

.grid-item-9 {
    background: url(../img/mask.png);
    grid-area: 5/3/7/5;
}

.grid-text {
    margin: 2%;
}

.btn-alon {
    margin: 0 auto;
    padding: 40px 0 20px 0;
    width: 27%;
    display: flex;
    justify-content: center;
}

.select {
    margin-top: 4%;
    background: url(../img/pricetable-min.png);
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-opacity {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #14171d;
    opacity: 0.8;
    z-index: 2;
}

.text-white {
    color: #ffffff;
    z-index: 3;
    text-align: center;
    padding-top: 7%;
}

.text-white h2 {
    font-family: Poppins;
    font-size: 80px;
    font-weight: bolder;
    line-height: 100px;
    letter-spacing: -4px;
}

.text-white h4 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 30px;
}

.projects-items {
    display: flex;
    z-index: 3;
    color: #ffffff;
    font-family: Poppins;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.cross-out {
    text-decoration: line-through;
}

.proj-item h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: -1.2px;
}

.proj-item li {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.proj-btn {
    width: 90%;
    height: 50px;
    border-radius: 25px;
    margin-top: 30px;
    font-weight: bold;
}

.proj-btn:hover {
    background-color: #7443ff;
    border-color: #7443ff;
    transition: 0.2s;
}

.Keep-tranmau {
    width: 60%;
    height: 65vh;
    margin: 0 auto;
    line-height: 30px;
    border-bottom: 2px solid #666666;
    margin-bottom: 5%;
}

.keep-in-text {
    width: 100%;
}

.text-wrapper-keep {
    padding: 0 23% 0 0;
}


.text-wrapper-keep .purpur-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    color: #7443ff;
}

.keep-form {
    width: 100%;
    flex-direction: column;
}

.wrapper-form {
    text-align: left;
    padding-left: 10%;
}

.form-inline {
    color: #72787a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.input-item {
    width: 100%;
    height: 2%;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #666666;
    color: #72787a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    outline: none;
}

.input-item:hover {
    color: #2a2d2e;
    font-weight: bold;
    border-bottom: 2px solid #7443ff;
}

.itemWithIcon {
    position: relative;
}

.itemWithIcon i {
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.checkform:hover {
    color: #2a2d2e;
}

.contacts {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.contact>h3 {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -1.5px;
}

.contact>p {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 0;
}

.sotials {
	background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
    width: 100%;
    height: 25vh;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size:30px;
}
.sotial-icon {
	border-right: 1px solid #ffffff;
	display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 16.66%;
}
.cesis-creative {
	width:90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 9px solid #14171d;
}

.team-cesis h5 {
	padding: 0;
	color: #262b40;
	font-family: Poppins ;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: -1.04px;
	padding-left: 30px;
}
.team-cesis p {
	padding:30px 0 30px 0;
	color: #72787a;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;	
}

.footer-img {
	display: flex;
	align-items: center;	
}

.subscribe {
	width:30%;
}

.subscribe p {
	padding:0 0 65px 0;
	color: #262b40;
	font-family: Poppins;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.72px;
}

.subscribe i {
	color: #72787a;
}